@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
* {
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-family: "Avenir", sans-serif; }

.center {
  text-align: center; }

.right {
  float: right; }

.left {
  float: left; }

.clearfix {
  clear: both; }

.inline {
  display: inline !important; }

.fixed {
  position: fixed; }

.content {
  position: relative;
  top: 50vh;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.responsive {
  display: none; }

.location img {
  height: 20px;
  padding: 0 5px 3px 0; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }

.overlay {
  height: 85vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
  box-sizing: border-box; }

.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .nav-bar img:hover {
    cursor: pointer; }
  .nav-bar div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    text-align: left; }
    .nav-bar div:nth-child(1) img {
      height: 0.8rem; }
  .nav-bar div:nth-child(2) {
    grid-column: 2;
    grid-row: 1; }
    .nav-bar div:nth-child(2) img {
      height: 1rem; }
  .nav-bar div:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
    text-align: right; }
    .nav-bar div:nth-child(3) img {
      height: 1.2rem; }
    .nav-bar div:nth-child(3) input[type=text] {
      color: black;
      font-family: "Avenir", sans-serif;
      font-size: 14px;
      width: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -moz-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      outline: none;
      box-shadow: none;
      border: none;
      position: relative;
      margin-top: -10px; }
      .nav-bar div:nth-child(3) input[type=text]:focus {
        width: 100px;
        transition: all 0.5s ease;
        outline: none;
        box-shadow: none;
        margin-left: 1rem; }

.nav-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  opacity: 0;
  text-align: center;
  position: fixed;
  top: 0;
  animation: fade-in 0.5s ease;
  z-index: 999; }
  .nav-overlay .close {
    position: absolute;
    top: 2rem;
    right: 2rem; }
  .nav-overlay > div {
    text-align: center; }
    .nav-overlay > div h1 {
      color: white;
      font-family: "Playfair Display", serif;
      font-weight: 500;
      margin: 2rem 0;
      opacity: 0;
      -moz-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      animation: fade-up 0.5s ease forwards;
      animation-delay: 0.65s; }
    .nav-overlay > div img {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    .nav-overlay > div .icon {
      opacity: 0;
      -moz-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      animation: fade-up 0.5s ease forwards;
      animation-delay: 0.5s; }
    .nav-overlay > div .social {
      opacity: 0;
      -moz-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      animation: fade-up 0.5s ease forwards;
      animation-delay: 0.8s; }

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 1.5rem 2rem;
  background-color: #535353;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white; }
  .footer a {
    color: white !important; }
  .footer img:hover {
    cursor: pointer; }
  .footer div:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    text-align: left; }
    .footer div:nth-child(1) img {
      height: 0.8rem; }
  .footer div:nth-child(2) {
    grid-column: 2;
    grid-row: 1; }
    .footer div:nth-child(2) img {
      height: 1rem; }
  .footer div:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
    text-align: right; }
    .footer div:nth-child(3) img {
      height: 1.2rem; }

.button {
  width: 9rem;
  height: 2rem;
  position: relative; }
  .button .button-front {
    background-color: 0, 0, 0, 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .button .button-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    left: -8px;
    text-align: center; }
    .button .button-back p {
      color: black;
      padding: 0;
      font-family: "Avenir";
      text-align: center !important; }
  .button.light .button-front {
    border: solid 3px white; }
  .button.light .button-back {
    background-color: white;
    border: solid 3px white; }
    .button.light .button-back p {
      color: black; }
  .button.dark .button-front {
    border: solid 3px black; }
  .button.dark .button-back {
    background-color: black;
    border: solid 3px black; }
    .button.dark .button-back p {
      color: white; }
  .button:hover {
    cursor: pointer; }
    .button:hover .button-front {
      transform: translate(-8px, -8px); }

.article {
  text-align: center;
  background-color: white;
  border: solid 1px #e0e0e0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-height: 600px;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .article:hover {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
    .article:hover .article-overlay {
      opacity: 1; }
  .article > div {
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
    .article > div .article-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .article > div .article-overlay #read-more {
        text-align: center;
        font-family: "Avenir", sans-serif;
        color: white;
        border: solid 2px white;
        width: 45%;
        margin: 0 auto;
        padding: 0.3rem 1rem;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .article > div .article-overlay #read-more:hover {
          background-color: white;
          color: black; }
  .article h2 {
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    padding: 0 15px;
    margin-top: 10px;
    font-size: 24px;
    text-align: left;
    margin-bottom: 0; }
  .article p {
    color: #5a5a5a;
    font-family: "Avenir", sans-serif;
    text-align: justify;
    line-height: 140%;
    padding: 0 15px;
    font-size: 12px;
    margin-top: 10px;
    max-height: 150px; }
  .article .article-info {
    margin-top: 3rem;
    padding: 15px 15px;
    text-align: left; }
    .article .article-info h4 {
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      margin-top: 0;
      font-size: 14px;
      color: black !important; }
      .article .article-info h4:hover {
        color: black !important; }
  .article .img {
    height: 200px;
    background-position: center;
    background-size: cover; }

.page {
  position: relative;
  padding: 0 2rem; }

.article-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem; }

#landing {
  padding-bottom: 2rem;
  position: relative; }
  #landing .hero {
    height: 85vh;
    background-image: url(https://res.cloudinary.com/gastronomads/image/upload/v1495511473/Primos3_m2vpxt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    animation: hero-appear 0.5s ease; }
    #landing .hero .overlay-wrapper {
      position: relative;
      grid-column: 1 / 3; }
    #landing .hero .title {
      color: white;
      display: inline-block;
      text-align: left;
      padding: 2rem;
      grid-row: 7;
      padding-left: 4rem;
      z-index: 3; }
      #landing .hero .title h1 {
        font-family: "Playfair Display", serif;
        font-weight: 500;
        font-size: 3rem;
        animation: fade-up 0.5s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px); }
      #landing .hero .title p {
        text-align: justify;
        line-height: 180%;
        animation: fade-up 0.5s ease forwards;
        animation-delay: 0.65s;
        opacity: 0;
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px); }
      #landing .hero .title .button {
        margin-top: 20px;
        margin-left: 10px;
        animation: fade-up 0.5s ease forwards;
        animation-delay: 0.8s;
        opacity: 0;
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px); }
  #landing .article-list {
    position: relative;
    top: 2rem;
    margin-bottom: 2rem; }

@keyframes hero-appear {
  from {
    opacity: 0; } }

@keyframes fade-up {
  to {
    opacity: 1;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in {
  to {
    opacity: 1; } }
